.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px 24px 12px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  gap: 12px;
}
  


.modal-button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
  color: white;
}
  