.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000
}

.logo-container{
    display:flex;
    align-items: center;
}

.navbar-logo{
    height: 100px;
    margin-right: 5px;

}

.navbar-text{
    font-size: 30px;
    font-weight: bold;
    color: black;
}


.profile-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
}

.menu-icon {
    font-size: 30px !important;
  }
  
  .account-icon {
    font-size: 30px !important;
  }

.profile-menu-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    color: var(--font-gray);
    border: 5px solid gray;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

#basic-menu {
    z-index: 1300;
  }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-container {
  display: flex;
  justify-content: flex-start;
}

.header-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-right: 300px;
}

.home-icon {
    font-size: 40px;
    cursor: pointer;
    margin-right: 15px;
    transition: color 0.3s ease; 
    color: var(--font-gray);
  }
  
  .home-icon:hover {
    color: #007BFF;
  }
