/* Global container for the entire app */
.app-container {
    max-width: 2323px; 
    margin: 0 auto; 
    padding: 0 20px; /
    display: flex;
    flex-direction: column;
    gap: 2rem; 
  }
  
  .card-container {
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
    color: #212529;
  }
