:root{
    --black: #000;
    --gray: #ddd;
    --white: #ffffff;
    --font-gray: #717171;

}

body{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  